h1{
  font-family: mFont2;
  padding: 0 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  > a{
    color: black;
    margin-top: 10px;
  }
}

#content{
  margin-top: 10px;
  flex: 2;
}

.list{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.list-item{
  white-space: nowrap;/*阻止文本换行*/
  color: black;
}

.list:nth-child(even) {
  background: #f5f5f5;
}

#title{
  width: 50%;
  overflow: hidden;
}

#operate{
  width: 105px;
  display: flex;
  justify-content: space-between;
}

.default{
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#operate a{
  color: #9fa8b2;
}

.delete-button {
  all: unset; /* 重置所有样式 */
  font-size: inherit; /* 设置文字大小 */
  cursor: pointer; /* 保留鼠标指针样式 */
  text-align: center; /* 居中文字 */
  color: #9fa8b2;
}

.delete-button:hover,
.delete-button:active {
  transform: none; /* 禁用 hover 和 active 的变形效果 */
}
