.wrap{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: mFont2;
  padding: 0 5px;
}

#content{
  margin-top: 10px;
  flex: 2;
}

.default{
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;/*阻止文本换行*/
}

.list-item:nth-child(even) {
  background: #f5f5f5;
}

.title{
  width: 50%;
  overflow: hidden;
  color: black;
}

.time{
  width: 150px;
  overflow: hidden;
  color: #9fa8b2;
}
