<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Personal Blog</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1>Personal Blog</h1>
        <a th:href="@{/new}">+ Add</a>
    </div>

    <div id="content">
        <div class="default" th:if="${#lists.isEmpty(list)}">
            <p>No articles available. Please add some.</p>
        </div>

        <div class="list" th:each="article : ${list}">
            <div id="title">
                <a class="list-item"
                   th:href="@{/article/{id}(id=${article.id})}">
                    <span class="title" th:text="${article.title}"></span>
                </a>
            </div>
            <div id="operate">
                <a th:href="@{/edit/{id}(id=${article.id})}">
                    Edit
                </a>
                <form action="/delete" method="post"
                      onsubmit="return confirm('Are you sure you want to delete this article?');">
                    <input type="hidden" name="Id" th:value="${article.id}">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>
