<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>New Article</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/articleManager.css}">
</head>
<body>
    <div class="wrap" th:switch="${type}">
        <div th:case="'new'">
            <h1>New Article</h1>

            <form action="/admin/new" method="post">
                <div class="custom-input">
                    <input class="title" type="text" name="title" placeholder="Article Title" required>
                    <input class="date" type="date" name="showPub" placeholder="Publishing Date" required>
                    <textarea name="content" cols="2" rows="2" placeholder="content"></textarea>
                </div>
                <div>
                    <button class="custom-button" type="submit">Publish</button>
                </div>
            </form>
        </div>
        <div th:case="'edit'">
            <h1>Update Article</h1>

            <form action="/admin/edit" method="post">
                <div class="custom-input">
                    <input type="hidden" name="id" th:value="${article.id}">
                    <input class="title" type="text" name="title" th:value="${article.title}" placeholder="Article Title" required>
                    <input class="date" type="date" name="showPub" th:value="${article.publishTime}" placeholder="Publishing Date" required>
                    <textarea name="content" cols="2" rows="2" th:utext="${article.content}" placeholder="content"></textarea>
                </div>
                <div>
                    <button class="custom-button" type="submit">Publish</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
