<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Personal Blog</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="wrap">
    <h1>Personal Blog</h1>

    <div id="content">
        <div class="default" th:if="${#lists.isEmpty(list)}">
            <p>No articles available.</p>
        </div>

        <a class="list-item"
           th:each="article : ${list}"
           th:href="@{/base/article/{id}(id=${article.id})}">
            <span class="title" th:text="${article.title}"></span>
            <span class="time" th:text="${article.showPub}"></span>
        </a>
    </div>

</div>

</body>
</html>
